body {
    margin: 0px 0px 0px 0px; 
}

.body {
    display: flex;
    flex-direction: column;
}

.head {
    width: 100vw;
    background-color: rgb(109, 109, 109);
    color: white;
    text-align: center;
}

.btn {
    width: 100px;
    align-self: center;
    margin-top: 10px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    justify-content: center;
    margin: 10px 30px;
}

.formPopup {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 1px 1px 1px black;
    visibility: hidden;
    position: absolute;
    align-self: center;
    background-color: white;
    
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    gap: 10px;
}

form > h3,
form > h4 {
    margin: 0px;
}

form > h3 {
    align-self: center;
}

.openFormPopup {
    visibility: visible;
    top: 30%;
    align-self: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    border-radius: 5px;
    height: 350px;
    width: 100%;
    
}